.contenu-nouveauSujet{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 9px;
	max-width: 50%;
	margin: auto;


}
h1{			
	text-align: center;
	margin:100px;
}
#titre-post{
	border:1px solid black;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	border-radius: 5px;
	
}
#champ{
	width:480px;
	height:185px;
	border-radius: 5px;
	
}
#btn-poster{
	border-radius: 5px;
}